.product {
  padding-bottom: 6rem;
}
.product__img {
  width: 100%;
  height: 100%;
}
.product__text {
  flex: 0 0 40%;
}
.product__link {
  flex: 0 0 60%;
  height: 60%;
  padding: 1rem;
  position: relative;
}
.product__title {
  font-size: 0.8rem;
}
.product__description {
  font-size: 0.7rem;
}
.product:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.product:hover .product__add-to-cart {
  visibility: visible;
  opacity: 1;
}
.product:hover .owl-dots {
  display: inline-block;
}

/* card-footer gölgesi yok edildi */
.card-footer {
  background: none;
}

/* cart textlerinin butonları kaydırması çözüldü */
.card-text {
  /* overflow:auto; */
  width: 100%;
  height: 100px;
  line-height: 1, 5em;
}



@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;
  }
  .product__add-to-cart {
    visibility: visible;
    opacity: 1;
  }
  .product .owl-dots {
    display: inline-block;
  }
}
